<!DOCTYPE html>
            <html>
                <head>
                    <title>practice1 Class</title>
                </head>
                <body>
                    <h1>Welcome to the practice1 Class</h1>
                    <p>This is the template for the practice1 class.</p>
                    <!-- Additional content can be added here -->
                    <form action="{% url 'student_dashboard' %}" method="get">
                        <button type="submit">Return to Dashboard</button>
                    </form>
                </body>
            </html>
            