{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <!-- You no longer need to show anything on the home page for authenticated users, 
       as the view will handle the redirect automatically -->
{% else %}
  <!-- Show login/signup links for unauthenticated users -->
  <h1>Home Page</h1>
  <p>Login Below:</p>
  <p><a href="{% url 'password_reset' %}">Password Reset</a></p>
  <p><a href="{% url 'login' %}">Log In</a></p>

  <p>Don't have an account?</p>
  <p><a href="{% url 'signup' %}">Create an Account</a></p>
{% endif %}
{% endblock %}
